.card_container{
    padding: 20px 10px;
    width: 25%;
}

.card{
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px 20px;
}

.heart{
    font-size: 20px;
    margin-bottom: 6px;
    text-align: end;
}

.heart_icon{
    transition: all ease 300ms;
}

.heart_icon:hover{
    color: #dc2626;
}

.img img{
    object-fit: contain;
    height: 284px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
    transition: all ease 300ms;
}

.img img:hover{
    transform: scale(1.1);
}

.body{
    border-top: 1px solid #f3f3f3;
}

.title{
    margin: 4px 0;
    font-weight: 300;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

.price{
    font-weight: 400;
    font-size: 16px;
    margin: 4px 0;
}

.price span{
    font-size: 14px;
    font-weight: 200;
    margin-right: 2px;
}

.body button{
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 8px 0;
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 4px;
    transition: all ease 200ms;
}

.btn1{
    background-color: #2563eb; 
}

.btn2{
    background-color: #dc2626; 
}

.body button:hover{
    background-color: #FDE047;
}

.icon{
    margin-right: 4px;
}

@media screen and (max-width : 1200px) {

}

@media screen and (max-width : 992px) {
    .card_container{
        width: 33.33%;
    }
}

@media screen and (max-width : 768px) {
    .card_container{
        width: 50%;
    }
}

@media screen and (max-width : 576px) {
    .card_container{
        width: 100%;
    }
}